@model IDGS904_tema1.Models.Triangle

@{
    ViewBag.Title = "TriangleArea";
}

<h2>TriangleArea</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Triangle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.p1x, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p1x, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p1x, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p1y, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p1y, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p1y, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p2x, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p2x, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p2x, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p2y, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p2y, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p2y, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p3x, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p3x, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p3x, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.p3y, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p3y, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p3y, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<p>@ViewBag.type</p>
<p>@ViewBag.area</p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
